extends layout

block content
    body    
        h1(align='center', style='color:red;font-size: 300%;') YOUR SHOPPING CART
        each item in shoppingCart
            .card
                .card-header(style='font-size: 150%;')
                    | #{item.Order.itemName} from #{item.Order.restName}
                .card-body
                    h5.card-title #{item.Order.itemOrder} orders at $#{item.Order.itemPrice.toFixed(2)} apiece
        h1(align='right', style='font-size:300%') Current Total: 
        -var total = shoppingCart.reduce(function(total, scItem) {return total + scItem.Order.itemPrice*scItem.Order.itemOrder;}, 0).toFixed(2);
        h2(align='right', style='color:green;font-size:300%')=total
        form(method='POST', action='/checkout')
            input#totPrice(type='hidden', name='totPrice', value=total)
            button.btn.btn-warning.btn-lg.btn-block(type='submit') Checkout
            

